@font-face {
    font-family: TwitterChirp;
    src: url(/assets/fonts/chirp-regular.woff);
}

@font-face {
    font-weight: bold;
    font-family: TwitterChirp;
    src: url(/assets/fonts/chirp-bold.woff);
}

html {
    --transition: 0.2s;
    --background: #202124;
    --foreground: #BDC1C6;
    --disabled: #6E767D;
    --error: #DD5144;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--background);
}

* {
    font-size: 15px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: var(--foreground);

    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0;
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    scrollbar-width: none;
    user-select: none;
    overflow: hidden;
    outline: none;
    border: none;
}

::-webkit-scrollbar {
    display: none;
}

a, a:link, a:visited, a:hover, a:active, a:focus, a:focus-within, a:focus-visible {
    text-decoration: none !important;
    color: inherit;
}



/**/



body > .info {
    display: block;
    padding: 1rem;
    padding-top: 0;
    max-height: 100%;
    overflow-y: auto;
}

body > .info span {
    display: block;
    margin: auto;
    max-width: 500px;
    user-select: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}



/**/



#content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
    display: flex;
}

#content > .col {
    width: 100%;
    flex-shrink: 1;
    height: fit-content;
    flex-direction: column;
    display: flex;
}

#content > .col > :is(img, video) {
    width: 100%;
}

#content.shuffle {
    overflow-y: hidden;
}

#content.shuffle > .col {
    max-height: 100%;
    overflow-y: auto;
}



/**/



@keyframes push {
    from {
        transform: translate(var(--l), var(--t)) scale(var(--s));
    }
}

@keyframes pop {
    to {
        transform: translate(var(--l), var(--t)) scale(var(--s));
	}
}

body > :is(img, video) {
    width: var(--w);
    height: var(--h);
    animation: push var(--transition);
    background-color: var(--background);
    transform: translate(var(--x), var(--y)) scale(1);
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

body > :is(img, video).pop {
    animation: pop var(--transition);
}

#content, #controls, #info, #list {
    transition: opacity var(--transition) linear;
    opacity: 1;
}

body > :is(img, video):not(.pop) ~ *, #info, #list {
    pointer-events: none;
    opacity: 0 !important;
}

body > :is(img, video):not(.pop) ~ #info, #list.show {
    pointer-events: initial;
    opacity: 1 !important;
}



/**/



#info {
    max-width: 12rem;
    padding: 0.5rem;
    background-color: black;
    border-bottom-right-radius: 0.5rem;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}

#info .account {
    height: 3rem;
    display: flex;
}

#info img {
    height: 100%;
    border-radius: 50%;
    margin-right: 0.5rem;
    z-index: 1;
}

#info span {
    white-space: nowrap;
    text-overflow: ellipsis;
}

#info .name {
    height: 100%;
    max-width: 100%;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#info .name .display {
    font-weight: bold;
}

#info .name .user {
    color: var(--disabled);
}

#info .description {
    display: block;
    margin-top: 0.5rem;
}

#info .description:empty {
    display: none;
}



/**/



#controls {
    --size: 2rem;
    --margin: 0.5rem;
    --padding: 0.5rem;
    position: absolute;
    margin: 1rem;
    z-index: 2;
    bottom: 0;
    right: 0;

    border-radius: 1rem;
    transition-property: background-color, opacity;
}

#controls, #controls .toggle {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    transition-duration: var(--transition);
}

#controls .toggle {
    height: 0;
    transition-property: height;
}

#controls.open {
    background-color: var(--background);
}

#controls.open .toggle {
    height: calc(5 * (var(--size) + var(--margin)));
}

#controls .icon {
    width: var(--size);
    height: var(--size);
    background-color: var(--foreground);
}

#controls .heart {
    box-sizing: content-box;
    padding: var(--padding);
}

#controls .toggle .icon {
    margin-top: var(--margin);
}



/**/



#list {
    width: 100%;
    height: 100%;
    background-color: var(--background);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

#list .content {
    height: 100%;
    width: min(100%, 32rem);
    margin: auto;
    padding: 1rem;
    padding-bottom: 0;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#list .header {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--foreground);
}

#list .header + span {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: var(--disabled);
}

#list input {
    border: 1px solid var(--disabled);
    border-radius: 0.25rem;
    padding: 0.5rem;
}

#list input:focus-visible {
    border-color: var(--foreground);
}

#list .buttons {
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
}

#list button {
    width: 0;
    flex-grow: 1;
    border-radius: 0.25rem;
    background-color: var(--foreground);
    color: var(--background);
    font-weight: bold;
    cursor: pointer;
}

#list .error {
    color: var(--error);
    margin-top: 0.5rem;
    display: none;
}

#list .error.show {
    display: initial;
}

#list .cancel {
    margin-right: 0.5rem;
}

#list .view {
    margin-left: 0.5rem;
}

#list .lists {
    padding-bottom: 2rem;
    overflow-y: auto;
    flex-shrink: 1;
}

#list .list {
    margin-top: 1rem;
    display: flex;
}

#list .list img {
    height: 3rem;
    border-radius: 1rem;
    margin-right: 1rem;
}

#list .list .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#list .list span {
    margin: 0;
}

#list .list .top {
    font-weight: bold;
}

#list .list .bot {
    color: var(--disabled);
}



/**/



@keyframes conic {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

#controls .heart {
    background-color: #F91880;
    background: conic-gradient(
        hsl(0, 100%, 50%),
        hsl(60, 100%, 50%),
        hsl(120, 100%, 50%),
        hsl(180, 100%, 50%),
        hsl(240, 100%, 50%),
        hsl(300, 100%, 50%),
        hsl(360, 100%, 50%)
    );
    background-size: 200% 200%;
    animation: conic 30s linear infinite;
    transition-property: transform, filter;
    transition-duration: var(--transition);
}

#controls.open .heart {
    opacity: 1 !important;
    transform: scaleY(-1) rotate(360deg);
    filter: invert(1);
}

#controls .heart { --mask-image: url(/assets/icons/heart.svg); }

#controls .scroll {
    transition-property: transform;
    transition-duration: var(--transition);
}

#content + #controls .scroll {
    transform: rotate(90deg) scale(0.8, 0.8);
    --mask-image: url(/assets/icons/sort.svg);
}

#content.shuffle + #controls .scroll {
    transform: rotate(-90deg) scale(-0.8, 0.8);
    --mask-image: url(/assets/icons/shuffle.svg);
}

#controls .minus { --mask-image: url(/assets/icons/minus.svg); }
#controls .plus { --mask-image: url(/assets/icons/plus.svg); }

#controls :is(.minus, .plus):active {
    transform: scale(0.9);
}

#controls .list {
    --mask-image: url(/assets/icons/list.svg);
}

#controls .info {
    transform: scale(0.8);
    --mask-image: url(/assets/icons/info.svg);
}

.icon {
    --mask-position: center;
    --mask-repeat: no-repeat;
    --mask-size: var(--size) var(--size);

    mask-size: var(--mask-size);
    mask-image: var(--mask-image);
    mask-repeat: var(--mask-repeat);
    mask-position: var(--mask-position);
    -webkit-mask-size: var(--mask-size);
    -webkit-mask-image: var(--mask-image);
    -webkit-mask-repeat: var(--mask-repeat);
    -webkit-mask-position: var(--mask-position);
}

:is(.icon, button, #list .list) {
    cursor: pointer;
}

:is(.icon, button, #list .list):is(:focus-visible, :active) {
    opacity: 0.75;
}

@media (pointer: fine) {
    :is(.icon, button, #list .list):is(:hover) {
        opacity: 0.75;
    }
}

.icon:disabled, button:disabled, input:placeholder-shown ~ .buttons .view {
    background-color: var(--disabled) !important;
    pointer-events: none !important;
    cursor: initial !important;
    opacity: 1 !important;
}
